.main-characters__section {
  padding: 4rem;
  background-color: #ffffff;

  .main-chracters__title {
    margin: 0 auto;
    width: 90%;
    p {
      margin-bottom: 1rem;
      color: #0e2ba0;
      font-size: 1.7rem;

      &:first-child {
        color: var(--navyBlue);
        font-weight: bold;
        // font-size: 1rem;
      }
    }
  }

  .grid__container {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }
}
