.nav__container {
  padding: 0 1rem;
  height: 3rem;
  transition: 0.5s;
  a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: inherit;
    height: 100%;
    transition: all 0.5s ease;
    a {
      display: none;
      @media (min-width: 768px) {
        display: inline;
      }
    }

    h2 {
      color: white;
      font-weight: 400;
      text-align: left;
    }
    div {
      font-size: 1rem;
      text-align: right;
    }
  }

  .links.active {
    .nav-options__container {
      height: 100%;
    }
    div {
      display: grid;
      place-items: center;
      align-items: center;
      gap: 1rem;
      width: 100%;
      position: absolute;
      top: 0rem;
      left: 0;
      text-align: center;
      background-color: rgb(34, 34, 34);
      z-index: 5;
      a {
        display: block;
        margin: 0 auto;
        margin-top: 1rem;
        font-size: 2rem;
      }
    }
  }
  &.sticky {
    background-color: var(--white);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    position: sticky;
    top: 0;
    color: #222;
    z-index: 4;
  }
  .defaultCrose {
    display: none;
    color: white;
    &.crose {
      display: block;
    }
  }

  .burguer {
    color: white;

    &.closeBurguer {
      display: none;
    }
    @media (min-width: 768px) {
      display: none;
    }
  }
}
