.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  gap: 7rem;
  z-index: 1;
  p {
    color: #6b6b6b77;
    font-size: 6rem;
    font-weight: bold;
    position: absolute;
    top: 60%;
    z-index: -1;
    @media screen and (min-width: 560px) {
      font-size: 7rem;
      top: 78%;
    }
  }
  .carousel__img-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    @media screen and (min-width: 560px) {
      gap: 3rem;
    }
    @media screen and (min-width: 750px) {
      gap: 5rem;
    }
  }
}
