@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:wght@300&family=Roboto:wght@300;500&display=swap');

:root {
  --aqua: #14E3E0;
  --white: #FFFFFF;
  --navyBlue: #00125B
}


.App {
  text-align: center;
}

h1,
h2,
p,
span {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.main__container {

  height: auto;

  .banner__section {

    padding: 0 3rem 3rem 3rem;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(27, 9, 121, 1) 23%, rgba(0, 212, 255, 1) 100%);
  }

  .banner-content__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;

  }
}



.banner__title {
  color: var(--white);
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
}

.algo {
  color: white;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
}

.contact-button {
  background-color: var(--aqua);
  height: 30px;
  width: 100px;
  border: 0;
  border-radius: 12px;
  color: var(--white);
}


// ***********************SECCION DOS ***************************

.main-characters__section{
  padding: 1rem;
  p{
    margin-bottom: 1rem;
    color: #0E2BA0;
    &:first-child{
      color: var(--navyBlue);
      font-weight: bold;
    }
  }
  
}