@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:wght@300&family=Roboto:wght@300;500&display=swap");

:root {
  --aqua: #1dbacc;
  --white: #ffffff;
  --ligthNavyblue: #0e2ba0;
  --navyBlue: #00125b;
  --skyblue: rgb(233, 243, 255);
  --cardShadow: -5px 4px 20px 5px rgb(0 0 0 / 20%);
  --backgroundGradient: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(28, 141, 242, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.App {
  text-align: center;
}

h1,
h2,
p,
span {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.main__container {
  height: auto;
  background-image: url("./assets/banner.png");
}

.main-characters__section {
  padding: 4rem;
  background-color: #ffffff;

  .main-chracters__title {
    margin: 0 auto;
    width: 90%;
    p {
      margin-bottom: 1rem;
      color: #0e2ba0;
      font-size: 1.7rem;

      &:first-child {
        color: var(--navyBlue);
        font-weight: bold;
      }
    }
  }
}
